# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Valkey
VALKEY_HOST=localhost # use `valkey` for docker-compose runs
VALKEY_PORT=6739

# Auth
AUTH_PRIVATE_KEY= # RS256 PK - $ openssl genrsa -out private.pem 2048
AUTH_PUBLIC_KEY=  # RS256 - $ openssl rsa -in private.pem -pubout -out public.pem
AUTH_REFRESH_TOKEN_COOKIE_NAME="rt_f2b4c8d9"

# Postgres
POSTGRES_URL=
# POSTGRES_USER= # used only for docker-compose, you can skip it if you run postgres instance locally/in the cloud
# POSTGRES_PASSWORD= # used only for docker-compose, you can skip it if you run postgres instance locally/in the cloud
# POSTGRES_DB= # used only for docker-compose, you can skip it if you run postgres instance locally/in the cloud
